.heading{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  padding: 10px;
  background-color: #29339B;
  box-shadow: 2px 2px 5px #ccc;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.containerrow{
  display: flex;
  flex: row;
  flex: 1;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu a{
  padding: 30px;
  background-color: #B6D6CC;
  text-decoration: none;
  color: white;
}
.menu a:hover{
  background-color: #29339B;
}
